/* Estilos exclusivos do layout admin podem ser adicionados aqui */

.admin-bg {
  background: none;
  background-image: url('/assets/shared/images/PitMania.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  width: 100vw;
  height: 100%;
}

body, html {
  min-height: 100vh;
  height: 100%;
}

/* Garante que o conteúdo fique acima do background */
:host ::ng-deep .main-content, :host ::ng-deep .container-fluid, :host ::ng-deep .container {
  position: relative;
  z-index: 1;
  overflow: visible !important;
}

/* Garante que o conteúdo do app ocupe toda a altura e permita rolagem */
:host ::ng-deep app-body {
  min-height: 100vh;
  height: auto;
  overflow: visible;
  display: block;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: .5rem;
  background-color: #fff;
  margin: 1.25rem 0 1.25rem 0;
  box-shadow: 0 .25rem .5rem #e6edef;
  color: #495057;
}

.card .card-head {
  padding: 1rem 1.5rem;
  border-bottom: 1px solid #edf1f7;
  font-size: 1rem;
  font-weight: 600;
}

.card .card-body {
  padding: 1rem 1.5rem;
}

.custom-dialog-container .mat-dialog-container {
  padding: 0;
  overflow: hidden;
  border-radius: 0;
}

.custom-dialog-container {
  position: fixed !important;
  right: 0 !important;
  top: 0 !important;
  height: 100vh !important;
  width: 500px !important;
  max-width: 100vw !important;
  margin: 0 !important;
  transform: none !important;
}
