<div class="container-fluid">
  <h1 style="color: #fff;">Funcionários</h1>

  <div class="container mt-5">
    <div class="mat-elevation-z8">
      <div class="filtros-container">
        <mat-form-field class="filtro-texto">
          <mat-label style="color: #000;">Filtrar</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ex. João Silva" #input>
        </mat-form-field>

        <mat-form-field class="filtro-select">
          <mat-label style="color: #000;">Situação</mat-label>
          <mat-select [(ngModel)]="situacaoSelecionada" (selectionChange)="aplicarFiltroSelect()">
            <mat-option value="">Todas</mat-option>
            <mat-option *ngFor="let situacao of situacoes" [value]="situacao">
              {{situacao}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <!-- Botão de cadastrar fora da tabela -->
      <div class="d-flex justify-content-end mb-3">
        <button class="btn btn-success" title="Cadastrar Funcionário" (click)="abrirModalCadastroFuncionario()">
          <i class="bi bi-plus-circle"></i> Cadastrar Funcionário
        </button>
      </div>

      <table mat-table [dataSource]="dataSource" matSort class="tabela-funcionarios">
        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="id"> ID </th>
          <td mat-cell *matCellDef="let funcionario"> {{funcionario.id}} </td>
        </ng-container>

          <!-- Nome Column -->
          <ng-container matColumnDef="nome">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="nome"> Nome </th>
            <td mat-cell *matCellDef="let funcionario"> {{funcionario.nome}} </td>
          </ng-container>

          <!-- Nome Usuario Column -->
          <ng-container matColumnDef="nomeUsuario">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="nomeUsuario"> Nome Usuario </th>
            <td mat-cell *matCellDef="let funcionario"> {{funcionario.nomeUsuario}} </td>
          </ng-container>

        <!-- Telefone Column -->
        <ng-container matColumnDef="telefone">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="telefone"> Telefone </th>
          <td mat-cell *matCellDef="let funcionario"> {{funcionario.telefone}} </td>
        </ng-container>

        <!-- Endereço Column -->
        <ng-container matColumnDef="endereco">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="endereco"> Endereço </th>
          <td mat-cell *matCellDef="let funcionario"> {{funcionario.endereco.cep}}, {{funcionario.endereco.logradouro}} - {{funcionario.endereco.complemento}} </td>
        </ng-container>

        <!-- Situação Column -->
        <ng-container matColumnDef="situacao">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="situacao"> Situação </th>
          <td mat-cell *matCellDef="let funcionario">
            <span [ngStyle]="{'background-color': funcionario.situacao === 'Ativo' ? '#198754' : '#dc3545', 'color': '#fff', 'padding': '4px 8px', 'border-radius': '4px'}">
              {{funcionario.situacao}}
            </span>
          </td>
        </ng-container>

        <!-- Ações Column -->
        <ng-container matColumnDef="acoes">
          <th mat-header-cell *matHeaderCellDef> Ações </th>
          <td mat-cell *matCellDef="let funcionario">
            <button class="btn btn-info me-2" title="Editar" (click)="abrirModalEditarFuncionario(funcionario)">
              <i class="bi bi-pencil-square"></i> Editar
            </button>

            <button class="btn btn-secondary me-2" title="Detalhes" (click)="abrirModalDetalhesFuncionario(funcionario)">
              <i class="bi bi-eye"></i> Detalhes
            </button>

            <button class="btn"
              [ngClass]="funcionario.situacao === 'Ativo' ? 'btn btn-danger' : 'btn btn-success'"
              (click)="alterarStatusFuncionario(funcionario.id)"
              [title]="funcionario.situacao === 'Ativo' ? 'Inativar' : 'Ativar'">
              <i class="bi" [ngClass]="funcionario.situacao === 'Ativo' ? 'bi-x-octagon' : 'bi-check-circle'"></i> Ativar/Inativar
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="8">Nenhum funcionario encontrado com o filtro: "{{input.value}}"</td>
        </tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Selecione a página de funcionarios"></mat-paginator>
    </div>
  </div>
</div>


