<div class="modal-content custom-modal">
  <div class="modal-header">
    <h5 class="modal-title">Confirmação</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="fechar()"></button>
  </div>
  <div class="modal-body">
    <p>Pedido realizado com sucesso, deseja imprimir o pedido?</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-secondary" (click)="fechar()">Fechar</button>
    <button class="btn btn-primary" (click)="confirmar()">Confirmar</button>
  </div>
</div>