<div class="container-fluid home-container" [ngClass]="{'dark-mode': isDarkMode}">
  <nav class="navbar navbar-expand-lg bg-body-tertiary w-100">
    <div class="container-fluid" id="topo">
      <a class="navbar-brand" href="#">
        <img src="/assets/shared/images/cliente/Logo2.png" alt="Pit Mania Logo" style="height: 110px; width: auto;">
      </a>
      <button class="navbar-toggler ms-auto" id="menu" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto text-start w-100">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/cardapio']" style="font-size: 1.2rem;">Cardápio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" style="font-size: 1.2rem;">Contate-nos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="mailto:pitmaniapizzaria@gmail.com" style="font-size: 1.2rem;">Seja um parceiro</a>
          </li>
        </ul>
      </div>
      <div class="form-check form-switch text-white ms-3">
        <input class="form-check-input" type="checkbox" id="themeToggle" [(ngModel)]="isDarkMode" (change)="alterarModoEscuro(isDarkMode)">
        <label class="form-check-label" for="themeToggle">Modo Escuro</label>
      </div>
    </div>
  </nav>

  <header class="hero">
    <img src="/assets/shared/images/cliente/Pit2.jpeg" alt="Foto da Empresa" class="empresa-foto hero-img">
  </header>

  <main class="conteudo">
    <h1>Bem-vindo à Nossa Empresa</h1>
    <p>Sinta o aroma, prove o sabor, viva a experiência — bem-vindo à sua nova pizzaria favorita!</p>
  </main>

  <main class="sobre">
    <h1>Sobre Nós</h1>
  </main>

  <div class="p-3 m-0 border-0 bd-example m-0 border-0">
    <div style="max-width: 600px; margin: 0 auto;">
      <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="container my-4">
            <div class="row g-4">
              <div class="col-12 col-sm-6 col-lg-4">
                <div class="card h-100">
                  <img src="/assets/shared/images/cliente/pizza.jpg" class="card-img-top" alt="Pizza">
                  <div class="card-body">
                    <h5 class="card-title">Feito com amor</h5>
                    <p class="card-text">Cada fatia carrega o sabor da nossa paixão pela pizza.</p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-lg-4">
                <div class="card h-100">
                  <img src="/assets/shared/images/cliente/relogio.jpg" class="card-img-top" alt="Relógio">
                  <div class="card-body">
                    <h5 class="card-title">Entrega Rápida</h5>
                    <p class="card-text">Sua pizza quentinha, direto do forno para sua mesa.</p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-lg-4">
                <div class="card h-100">
                  <img src="/assets/shared/images/cliente/compartilha.jpg" class="card-img-top" alt="Compartilhamento">
                  <div class="card-body">
                    <h5 class="card-title">Compartilhe</h5>
                    <p class="card-text">Momentos especiais merecem ser celebrados com a melhor companhia e uma pizza irresistível.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <p>&copy; 2025 Pit Mania Pizzaria e Sanduicheria. Todos os direitos reservados.</p>
  </footer>
</div>
